@import url('../../index.css');

.container-table {
  width: 964px;
  background: #FAFAFA;
}

.header-table {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 58px;

  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header-date {
  width: 34px;
  margin-left: 27px;
}

.header-week-day {
  width: 95px;
  margin-left: 100px;
  margin-right: 29px;
}

.header-description {
  width: 255px;
}

.header-category {
  width: 118px;
  margin-left: 14px;
  margin-right: 65px;
}

.header-value {
  width: 85px;
  margin-right: 141px;
}

.header-table strong {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px
}

.row-table {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 58px;
  padding: 20px 0;

  border-bottom: 1px solid #E0E0E0;
}

.row-table strong {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px
}

.row-table span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.date {
  width: 102px;
  margin-left: 27px;
}

.week-day {
  width: 68px;
  margin-left: 46px;
  margin-right: 56px;
  text-align: center;
}

.description {
  width: 227px;
  text-align: center;
}

.category {
  width: 105px;
  margin-left: 35px;
  margin-right: 73px;
  text-align: center;
}

.value {
  text-align: center;
  margin-right: 48px;
  width: 84px;
}

.btns-table {
  display: flex;
  margin-right: 27px;
}