@import url('../../index.css');

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  width: 236px;
  height: 196px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.summary h1 {
  margin: 24px 0;
}

.summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 189px;
}

.summary span {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.entry {
  color: var(--purple);
}

.exit {
  color: var(--orange);
}

.container-balance {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  padding: 16px 0;

  border-top: 1px solid #EAEAEA;
}

.balance {
  color: var(--light-blue);
}