@import url('../../index.css');

.signIn-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.signIn-page main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 90px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 614px;
}

.text-container h1,
.text-container p {
  color: #FFFFFF;
}

.text-container h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
}

.text-container p {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.violet {
  color: var(--purple);
}

.btn-signUp {
  cursor: pointer;
  width: 284px;
  height: 48px;

  border: none;
  border-radius: 5px;

  color: #FFFFFF;
  background-color: var(--purple);
}