@import url('../../index.css');

.form-edit-profile {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  width: 550px;
  height: 700px;

  top: 16px;
  padding: 30px;

  border-radius: 20px;
  background-color: #FFFFFF;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
  width: 100%;
}

.container-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
}