* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --cyan: #05EDE3;
  --purple: #6460FB;
  --light-blue: #3A9FF1;
  --dark-blue: #000A4A;
  --orange: #FA8C10;
  --pink: #FF57D3;
  --light-red: #FF576B;
  --gray: #B9B9B9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.error {
  color: #d70f0f;
}

.container-blur {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: rgba(61, 61, 61, 0.48);
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 485px;
  height: 63.49px;

  padding-left: 22px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  border: 1px solid #555555;
  border-radius: 5px;
}

.select {
  cursor: pointer;

  width: 485px;
  height: 63.49px;

  border: 1px solid #555555;
  border-radius: 5px;

  appearance: none;
  background-image: url('./assets/select-trigger-icon.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 455px;
  padding: 8px 16px;
}

option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #484848;
}

label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.btn-confirm {
  cursor: pointer;
  width: 236px;
  height: 42px;

  border: none;
  border-radius: 5px;
  background-color: var(--purple);
  color: #FFFFFF;
}

.btn-add-record {
  cursor: pointer;

  width: 236px;
  height: 42px;
  margin-top: 16px;

  border: none;
  border-radius: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;
  background-color: var(--purple);
}